      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }
      .download-url-wrapper, section .models{
        display: none!important;
      }
      
      .swagger-ui .topbar {
          background-color: #272626!important;
      }
   
      